/* Sidebar styles */
.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #242526;
    position: fixed;
    top: 60px; /* Aligns with the height of the navbar */
    left: 0;
    padding-top: 20px;
    z-index: 5; /* Make sure sidebar appears under navbar */
}

.sidebar h3 {
    color: #E4E6EB;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    color: #E4E6EB;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
}

.sidebar a:hover {
    background-color: #333;
}
